*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 70px;
    left: 100px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;

}

button:hover{
    background-color: rgb(103, 87, 124);
}

.container{
    margin: auto;


}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;

}
.logoEditor{
    width:100px;
    height: 100px;
    border-radius: 160px;
    border:5px solid #666;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    color: blueviolet;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/cabecera.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color:white;
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#nosotros .container{
    background: url(media/castefa.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 200px 12px;

}

#plataformas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#plataformas .container{
    padding: 150px 1px;
}

#plataformas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#plataformas p{
    display: none;
}

#plataformas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/wd.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/apple_normal.png");
}

.carta:nth-child(3){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/logo_principal.jpg");

}
#novedades{
    background-color: rgb(185, 120, 120);
    color: white;
    text-align: center;
}
#juego{
    background-color: rgb(121, 20, 20);
    color: white;
    text-align:center;
}

#juego .mapaEditor{

    margin-bottom: 30px;
    margin-top: 30px;

    width:250px;
    height: 250px;
    border-radius: 160px;
    border:5px solid #666;
}
#juego .objetosEditor{

    margin-bottom: 30px;
    margin-top: 30px;
    width:250px;
    height: 250px;
    border-radius: 160px;
    border:5px solid #666;
}
#juego .personajesEditor{

    margin-bottom: 30px;
    margin-top: 30px;
    width:250px;
    height: 250px;
    border-radius: 160px;
    border:5px solid #666;
}
#juego .parrafoIndMapas{
    font-family: 'Roboto', "Brush Script MT";
    font-size: 3em;
    background: linear-gradient(to right, #562b0c, #f6ab6a);
    position: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
#juego .parrafoIndObjetos{
    font-family: 'Roboto', "Brush Script MT";
    font-size: 3em;
    background: linear-gradient(to right, orangered,orange,gold,lightgreen,cyan,dodgerblue,mediumpurple,hotpink,orangered);

    position: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
#juego .parrafoIndPersonajes{
    font-family: 'Roboto', "Brush Script MT";
    font-size: 3em;
    background: linear-gradient(to left,black,brown,blue,pink);

    position: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
#juego .container{
    padding: 150px 1px;
}
#juego .colorTitle{
    margin-top: 0;
    font-size: 2em;
    text-align: center;
}

#novedades .container{
    padding: 150px 1px;
}

#novedades h2{
    margin-top: 0;
    font-size: 3.2em;
}

#novedades p{
    display: none;
}

#novedades .cartaSegundas{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.cartaSegundas:first-child{
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/actualizacion.jpg");

}

.cartaSegundas:nth-child(2){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/Yoshi_rec.jpg");
}

.cartaSegundas:nth-child(3){
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
    )
    ,url("media/wario_rec.jpg");

}

#caracteristicas .container{
    max-width: 1400px;
    text-align: center;
    padding: 250px 12px;

}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}


#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #nosotros .container{
        display: flex;
        justify-content: space-evenly;
    }

    #nosotros .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nosotros h2{
        margin-top: 0px;
    }

    #nosotros .img-container{
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 500px;
    }

    #plataformas .plataformas{
        display: flex;
        justify-content: center;
    }

    #plataformas p{
        display: block;
        margin-bottom: 30px;
    }

    #plataformas h2{
        font-size: 4em;
    }

    #plataformas h3{
        margin-top: 0;
    }

    #plataformas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/wd.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/apple.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/and.jpg");

    }
    #plataformas .plataformas{
        display: flex;
        justify-content: center;
    }

    #plataformas p{
        display: block;
        margin-bottom: 30px;
    }

    #plataformas h2{
        font-size: 4em;
    }

    #plataformas h3{
        margin-top: 0;
    }

    #plataformas .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/wd.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/apple.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/and.jpg");

    }
    #novedades .novedades{
        display: flex;
        justify-content: center;
    }

    #novedades p{
        display: block;
        margin-bottom: 30px;
    }

    #novedades h2{
        font-size: 4em;
    }

    #novedades h3{
        margin-top: 0;
    }

    #novedades .cartaSegundas{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .cartaSegundas:first-child{
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/actualizacion.jpg");

    }

    .cartaSegundas:nth-child(2){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/Yoshi_rec.jpg");
    }

    .cartaSegundas:nth-child(3){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/wario_rec.jpg");

    }
    #novedades .novedades{
        display: flex;
        justify-content: center;
    }

    #novedades p{
        display: block;
        margin-bottom: 30px;
    }

    #novedades h2{
        font-size: 4em;
    }

    #novedades h3{
        margin-top: 0;
    }

    #novedades .cartaSegundas{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .cartaSegundas:first-child{
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/actualizacion.jpg");

    }

    .cartaSegundas:nth-child(2){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/Yoshi_rec.jpg");
    }

    .cartaSegundas:nth-child(3){
        background-image: linear-gradient(
                0deg,
                rgba(0,0,0,0.5),
                rgba(0,0,0,0.5)
        )
        ,url("media/wario_rec.jpg");

    }
    #caracteristicas{
        background-image: url("media/Koopa_Troopa2.jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }

}
#contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(73, 73, 34);
    color: white;
    height: 80vh;
}

#contacto h2{
    font-size: 9vw;
}




@media (min-width: 1200px) {
    #caracteristicas{
        background-position-x: calc(100vw - 800px);
    }
}